Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

add qbittorrent dns name
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

fix sabnzbd
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/sabnzbd.yaml
Labels: area/docker

fix api version of cluster store
  apps/authentik/secrets.yaml
  apps/crunchy-postgres-cluster/crunchy-postgres-cluster-store.yaml
Labels: area/apps

add system-upgrade-controller
  infra/ansible/update-talos.yaml
  infra/helm/system-upgrade-controller/application.yaml
  infra/helm/system-upgrade-controller/rbac.yaml
  infra/helm/system-upgrade-controller/values.yaml
  infra/helm/system-upgrade-plans/application.yaml
  infra/helm/system-upgrade-plans/kubernetes.yaml
  infra/helm/system-upgrade-plans/kustomization.yaml
  infra/helm/system-upgrade-plans/talos.yaml
Labels: area/kubernetes, cluster/main

update system-upgrade
  infra/helm/system-upgrade-controller/values.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

update talos linux
  apps/jackett/values.yaml
  infra/ansible/bootstrap.yaml
  infra/helm/sealed-secrets/values.yaml
  infra/helm/volsync-system/values.yaml
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: area/kubernetes, area/apps, cluster/main

update volsync
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

some docs updates
  .gitattributes
  LICENSE
  README.md
Labels: area/docs

update volsync images
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

update arm-actions-runner version
  infra/helm/arc-runners/values.yaml
Labels: area/kubernetes, cluster/main

system upgrade config
  infra/helm/system-upgrade-controller/application.yaml
  infra/helm/system-upgrade-controller/rbac.yaml
  infra/helm/system-upgrade-controller/values.yaml
  infra/helm/system-upgrade-plans/application.yaml
  infra/helm/system-upgrade-plans/kustomization.yaml
  infra/helm/system-upgrade-plans/kustomizeconfig.yaml
  infra/helm/system-upgrade-plans/versions.env
  infra/talos/controlplane.enc.yaml
Labels: area/kubernetes, cluster/main

system upgrade config
  .github/CODEOWNERS
  .github/renovate/grafanaDashboards.json
  infra/helm/grafana/values.yaml
  infra/helm/system-upgrade-controller/application.yaml
  infra/helm/system-upgrade-controller/rbac.yaml
  infra/helm/system-upgrade-controller/values.yaml
  infra/helm/system-upgrade-plans/application.yaml
  infra/helm/system-upgrade-plans/kubernetes.yaml
  infra/helm/system-upgrade-plans/kustomization.yaml
  infra/helm/system-upgrade-plans/kustomizeconfig.yaml
  infra/helm/system-upgrade-plans/talos.yaml
  infra/helm/system-upgrade-plans/versions.env
  infra/talos/controlplane.enc.yaml
  renovate.json
Labels: area/github, area/kubernetes, cluster/main

update volsync image
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

update volsync image
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

add nodeip tnu variable
  infra/helm/system-upgrade-plans/talos.yaml
Labels: area/kubernetes, cluster/main

add extensions for talos config
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

fix longhorn api version
  infra/helm/longhorn-system/recurring_job.yaml
Labels: area/kubernetes, cluster/main

add theme to qbittorrent
  stacks/media-stack/qbittorrent.yaml
Labels: area/docker

update github workflows runners
  .github/workflows/labeler.yaml
  .github/workflows/labels-sync.yaml
Labels: area/github

downgrade flaresolverr
  apps/flaresolverr/values.yaml
Labels: area/apps

adds socks5
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/socks5.yaml
Labels: area/docker

remove system-upgrade-controller for now
  infra/helm/system-upgrade-controller/application.yaml
  infra/helm/system-upgrade-controller/values.yaml
  infra/helm/system-upgrade-plans/application.yaml
  infra/helm/system-upgrade-plans/kubernetes.yaml
  infra/helm/system-upgrade-plans/kustomization.yaml
  infra/helm/system-upgrade-plans/kustomizeconfig.yaml
  infra/helm/system-upgrade-plans/talos.yaml
  infra/helm/system-upgrade-plans/versions.env
Labels: area/kubernetes, cluster/main

upgrade node afinity gha
  infra/helm/arc-runners/values.yaml
Labels: area/kubernetes, cluster/main

update gha
  infra/helm/arc-runners/values.yaml
Labels: area/kubernetes, cluster/main

update labeler action
  .github/workflows/labeler.yaml
Labels: area/github

add new stacks for media management
  infra/terraform/dns.tf
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/cross-seed.yaml
  stacks/vscode.yaml
Labels: area/docker, area/terraform, cluster/main

change cloudlfare r2 buckets
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

update qbittorrent
  stacks/media-stack/qbittorrent.yaml
Labels: area/docker

update stacks timezone
  stacks/homebridge.yaml
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/cross-seed.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
  stacks/minio.yaml
  stacks/vscode.yaml
Labels: area/docker

add stacks healthckecks
  stacks/deunhealth.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/sabnzbd.yaml
Labels: area/docker

add images to stacks
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
Labels: area/docker

make everything healthy
  stacks/deunhealth.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
Labels: area/docker

remove port from slskd stack
  stacks/media-stack/slskd.yaml
Labels: area/docker

enable r2 backup for database
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

fix onepassowrd operator
  infra/helm/one-password/application.yaml
Labels: area/kubernetes, cluster/main

fix pgo
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

fix vscode
  stacks/vscode.yaml
Labels: area/docker

update pgo bucket name
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/crunchy-postgres-cluster/secrets.yaml
Labels: area/apps

change helathcheck for slskd
  stacks/media-stack/slskd.yaml
Labels: area/docker

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
