Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

update argocd requests for memory and cpu
  argocd/values.yaml
  infra/helm/monitoring/alertmanager-config.yaml
  infra/helm/monitoring/scrape-config.yaml
Labels: area/kubernetes, cluster/main

add alerts count in kromgo
  README.md
  apps/kromgo/config.yaml
Labels: area/docs, area/apps

add znc
  apps/thelounge/values.yaml
  infra/terraform/dns.tf
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/znc.yaml
Labels: area/apps, area/docker, area/terraform, cluster/main

test scheduling gates using ksgate
  apps/authelia/values.yaml
  apps/lldap/values.yaml
  argocd/values.yaml
Labels: area/apps

add filebrowser
  apps/authelia/config.yaml
  apps/authelia/secrets.yaml
  apps/filebrowser/application.yaml
  apps/filebrowser/backup.yaml
  apps/filebrowser/restore.yaml
  apps/filebrowser/secrets.yaml
  apps/filebrowser/values.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/slskd.yaml
Labels: area/apps, area/docker

fix slskd networking
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/slskd.yaml
Labels: area/docker

fix filebrowser
  apps/filebrowser/bakcup.yaml
  apps/filebrowser/restore.yaml
  apps/filebrowser/secrets.yaml
  apps/filebrowser/values.yaml
Labels: area/apps

a bunch of stuff
  apps/filebrowser/backup.yaml
  infra/ansible/bootstrap.yaml
  infra/helm/descheduler/values.yaml
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-4.enc.yaml
  stacks/media-stack/qbittorrent.yaml
Labels: area/kubernetes, area/apps, area/docker, cluster/main

prevent longhorn in certain node
  infra/helm/longhorn-system/values.yaml
Labels: area/kubernetes, cluster/main

Revert "prevent longhorn in certain node"
  infra/helm/longhorn-system/values.yaml
Labels: area/kubernetes, cluster/main

feat: Add Cilium CNI and Envoy Gateway migration
  apps/authelia/values.yaml
  apps/flaresolverr/values.yaml
  apps/fusion/values.yaml
  apps/lldap/values.yaml
  apps/pgadmin/httproute.yaml
  apps/pgadmin/kustomization.yaml
  apps/prowlarr/values.yaml
  apps/qui/values.yaml
  apps/thelounge/values.yaml
  apps/vikunja/values.yaml
  infra/helm/cilium/application.yaml
  infra/helm/cilium/lb-ipam.yaml
  infra/helm/cilium/values.yaml
  infra/helm/envoy-gateway/application.yaml
  infra/helm/envoy-gateway/gateway.yaml
  infra/helm/envoy-gateway/values.yaml
  infra/helm/external-dns/values.yaml
  infra/helm/grafana/httproute.yaml
  infra/helm/grafana/values.yaml
  infra/helm/ingress-nginx/values.yaml
  infra/helm/metallb-system/application.yaml
  infra/helm/metallb-system/configuration.yaml
  infra/helm/monitoring/httproutes.yaml
  infra/helm/monitoring/values.yaml
  infra/talos/controlplane.enc.yaml
Labels: area/kubernetes, area/apps, cluster/main

Add sealed secret for One Password
  infra/helm/cilium/values.yaml
  infra/helm/envoy-gateway/application.yaml
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/cilium/values.yaml
  infra/helm/envoy-gateway/application.yaml
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  apps/authelia/values.yaml
  apps/flaresolverr/values.yaml
  apps/fusion/values.yaml
  apps/lldap/values.yaml
  apps/pgadmin/httproute.yaml
  apps/prowlarr/values.yaml
  apps/qui/values.yaml
  apps/thelounge/values.yaml
  apps/vikunja/values.yaml
  argocd/values.yaml
  infra/ansible/bootstrap.yaml
  infra/helm/cilium/application.yaml
  infra/helm/cilium/lb-ipam.yaml
  infra/helm/cilium/values.yaml
  infra/helm/envoy-gateway/application.yaml
  infra/helm/envoy-gateway/gateway.yaml
  infra/helm/external-dns/application.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
  infra/helm/grafana/httproute.yaml
  infra/helm/longhorn-system/httproute.yaml
  infra/helm/longhorn-system/values.yaml
  infra/helm/monitoring/httproutes.yaml
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, area/apps, cluster/main

update README.MD
  README.md
Labels: area/docs

update ignore differences in cilium
  infra/helm/cilium/application.yaml
Labels: area/kubernetes, cluster/main

add mousehole
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/mousehole.yaml
Labels: area/docker

update authelia config
  apps/authelia/config.yaml
  apps/authelia/values.yaml
  apps/filebrowser/secrets.yaml
Labels: area/apps

update authelia config
  apps/authelia/config.yaml
Labels: area/apps

enable egreessgateway on cilium
  infra/helm/cilium/values.yaml
Labels: area/kubernetes, cluster/main

add vpn gateway
  apps/vpn-gateway/DEPLOYMENT-ORDER.md
  apps/vpn-gateway/README.md
  apps/vpn-gateway/ROUTING-OPTIONS.md
  apps/vpn-gateway/application.yaml
  apps/vpn-gateway/cilium-egress-gateway.yaml
  apps/vpn-gateway/configmap.yaml
  apps/vpn-gateway/deployment.yaml
  apps/vpn-gateway/external-secret.yaml
  apps/vpn-gateway/kustomization-bootstrap.yaml
  apps/vpn-gateway/kustomization.yaml
  apps/vpn-gateway/namespace.yaml
  apps/vpn-gateway/network-policies.yaml
  apps/vpn-gateway/pvc.yaml
  apps/vpn-gateway/service.yaml
  apps/znc/README.md
  apps/znc/application.yaml
  apps/znc/deployment.yaml
  apps/znc/httproute.yaml
  apps/znc/kustomization.yaml
  apps/znc/namespace.yaml
  apps/znc/pvc.yaml
  apps/znc/service.yaml
Labels: area/apps

change to rollingupdates apps/
  apps/filebrowser/values.yaml
  apps/flaresolverr/values.yaml
  apps/fusion/values.yaml
  apps/kromgo/values.yaml
  apps/prowlarr/values.yaml
  apps/qui/values.yaml
  apps/thelounge/values.yaml
  apps/vikunja/values.yaml
  apps/whoami/values.yaml
Labels: area/apps

change to grafana operator
  infra/helm/cert-manager/grafanadashboard.yaml
  infra/helm/cilium/grafanadashboard.yaml
  infra/helm/envoy-gateway/grafanadashboard.yaml
  infra/helm/external-secrets/grafanadashboard.yaml
  infra/helm/grafana/application.yaml
  infra/helm/grafana/dashboards.yaml
  infra/helm/grafana/datasources.yaml
  infra/helm/grafana/grafana.yaml
  infra/helm/grafana/httproute.yaml
  infra/helm/grafana/route.yaml
  infra/helm/grafana/values.yaml
  infra/helm/monitoring/grafanadashboard.yaml
  infra/helm/volsync-system/application.yaml
  infra/helm/volsync-system/grafanadashboard.yaml
Labels: area/kubernetes, cluster/main

add twenty
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/twenty/application.yaml
  apps/twenty/secrets.yaml
  apps/twenty/values.yaml
  infra/ansible/bootstrap.yaml
Labels: area/apps, cluster/main

starting point
  apps/autobrr/application.yaml
  apps/autobrr/values.yaml
  apps/bazarr/application.yaml
  apps/bazarr/values.yaml
  apps/qbittorrent/application.yaml
  apps/qbittorrent/values.yaml
  apps/sabnzbd/application.yaml
  apps/sabnzbd/values.yaml
  apps/seer/application.yaml
  apps/seer/values.yaml
  apps/slskd/application.yaml
  apps/slskd/values.yaml
  apps/sonarr-anime/application.yaml
  apps/sonarr-anime/values.yaml
  apps/sonarr/application.yaml
  apps/sonarr/values.yaml
  apps/znc/application.yaml
  apps/znc/values.yaml
  stacks/music-assistant.yaml
Labels: area/apps, area/docker

update the strategy of apps
  apps/authelia/values.yaml
  apps/filebrowser/values.yaml
  apps/flaresolverr/values.yaml
  apps/fusion/values.yaml
  apps/kromgo/values.yaml
  apps/lldap/values.yaml
  apps/prowlarr/values.yaml
  apps/qui/values.yaml
  apps/thelounge/values.yaml
  apps/twenty/values.yaml
  apps/vikunja/values.yaml
  apps/whoami/values.yaml
Labels: area/apps

removing strategy from apps/
  apps/authelia/values.yaml
  apps/filebrowser/values.yaml
  apps/flaresolverr/values.yaml
  apps/fusion/values.yaml
  apps/kromgo/values.yaml
  apps/lldap/values.yaml
  apps/prowlarr/values.yaml
  apps/qui/values.yaml
  apps/thelounge/values.yaml
  apps/twenty/values.yaml
  apps/vikunja/values.yaml
  apps/whoami/values.yaml
Labels: area/apps

continuing migrating applications
  apps/autobrr/application.yaml
  apps/autobrr/prometheusrule.yaml
  apps/autobrr/secrets.yaml
  apps/autobrr/values.yaml
  apps/bazarr/values.yaml
  apps/nzbget/application.yaml
  apps/nzbget/values.yaml
  apps/qbittorrent/application.yaml
  apps/qbittorrent/values.yaml
  apps/radarr/application.yaml
  apps/radarr/secrets.yaml
  apps/radarr/values.yaml
  apps/recyclarr/application.yaml
  apps/recyclarr/kustomization.yaml
  apps/recyclarr/resources/recyclarr.yml
  apps/recyclarr/secrets.yaml
  apps/recyclarr/values.yaml
  apps/sabnzbd/values.yaml
  apps/seer/application.yaml
  apps/seer/secrets.yaml
  apps/seer/values.yaml
  apps/slskd/application.yaml
  apps/slskd/secrets.yaml
  apps/slskd/values.yaml
  apps/sonarr-anime/application.yaml
  apps/sonarr-anime/kustomization.yaml
  apps/sonarr-anime/resources/refresh-series.sh
  apps/sonarr-anime/resources/tag-codec.sh
  apps/sonarr/application.yaml
  apps/sonarr/kustomization.yaml
  apps/sonarr/resources/refresh-series.sh
  apps/sonarr/resources/tag-codec.sh
  apps/sonarr/secrets.yaml
  apps/sonarr/values.yaml
  apps/znc/application.yaml
  infra/helm/multus/application.yaml
  infra/helm/multus/iot.yaml
  infra/helm/multus/values.yaml
  infra/helm/multus/vpn.yaml
Labels: area/kubernetes, area/apps, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
