Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

set some resources limits
  apps/flaresolverr/values.yaml
  apps/jackett/values.yaml
Labels: area/apps

updates pgadmin
  apps/pgadmin/backup.yaml
  apps/pgadmin/configmap.yaml
  apps/pgadmin/restore.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

downgrade arc
  infra/helm/arc-runners/application.yaml
  infra/helm/arc-systems/application.yaml
Labels: area/kubernetes, cluster/main

fixes
  apps/flaresolverr/values.yaml
  apps/jackett/values.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
  apps/prowlarr/values.yaml
Labels: area/apps

add arc dashboard and metrics
  infra/helm/arc-runners/values.yaml
  infra/helm/grafana/values.yaml
Labels: area/kubernetes, cluster/main

add n8n and jellyseerr stacks
  infra/terraform/dns.tf
  stacks/media-stack/jellyseerr.yaml
  stacks/n8n.yaml
Labels: area/docker, area/terraform, cluster/main

revert spegel version
  infra/helm/spegel/application.yaml
Labels: area/kubernetes, cluster/main

update spegel
  infra/helm/spegel/application.yaml
  infra/helm/spegel/values.yaml
Labels: area/kubernetes, cluster/main

update readme
  README.md
Labels: area/docs

remove r2
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

add r2
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

change argocd redis secret logic
  argocd/values.yaml
  infra/ansible/bootstrap.yaml
  infra/ansible/one-password.yaml
Labels: cluster/main

update talos config
  infra/ansible/bootstrap.yaml
  infra/talos/config.enc.yaml
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

add recovery method to cnpg
  infra/helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

add db-init ansible playbook
  infra/ansible/db-init.yaml
Labels: cluster/main

update homepage app
  apps/homepage/application.yaml
  apps/homepage/configmap.yaml
  apps/homepage/rbac.yaml
  apps/homepage/secrets.yaml
  apps/homepage/values.yaml
  apps/ntfy/ingress.yaml
  apps/whoami/ingress.yaml
  argocd/values.yaml
  infra/helm/grafana/values.yaml
  infra/helm/longhorn-system/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

update nginx
  infra/helm/ingress-nginx/values.yaml
Labels: area/kubernetes, cluster/main

update grafana
  .github/renovate/grafanaDashboard.json
  infra/helm/grafana/values.yaml
  renovate.json
Labels: area/github, area/kubernetes, cluster/main

update external-dns
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, cluster/main

update cloudflare ingress
  infra/helm/cloudflare-ingress/values.yaml
Labels: area/kubernetes, cluster/main

fix renovate config
  renovate.json
Labels: none

rever arc system version
  infra/helm/arc-runners/application.yaml
  infra/helm/arc-systems/application.yaml
Labels: area/kubernetes, cluster/main

update grafana renovate config
  .github/renovate/grafanaDashboards.json
Labels: area/github

update external-dns-adguard version
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, cluster/main

update arc-system
  infra/helm/arc-systems/application.yaml
  infra/helm/arc-systems/values.yaml
Labels: area/kubernetes, cluster/main

update renovate
  .github/renovate/grafanaDashboards.json
Labels: area/github

add stirling pdf
  apps/pdf/application.yaml
  apps/pdf/values.yaml
Labels: area/apps

add dns recursive for cert-manager
  infra/helm/cert-manager/values.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

update talos config with ntp servers
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

remove pgadmin and freqtrade
  apps/freqtrade/application.yaml
  apps/freqtrade/configmap.yaml
  apps/freqtrade/deployment.yaml
  apps/freqtrade/ingress.yaml
  apps/freqtrade/pvc.yaml
  apps/freqtrade/secrets.yaml
  apps/freqtrade/service.yaml
  apps/pgadmin/application.yaml
  apps/pgadmin/configmap.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

add docuseal
  apps/docuseal/application.yaml
  apps/docuseal/secrets.yaml
  apps/docuseal/values.yaml
Labels: area/apps

add crunchy-postgres-operator
  infra/helm/crunchy-postgres-operator/application.yaml
Labels: area/kubernetes, cluster/main

add crunchy postgres cluster for testing
  apps/crunchy-postgres-cluster/application.yaml
  apps/crunchy-postgres-cluster/kustomization.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/crunchy-postgres-cluster/secrets.yaml
Labels: area/apps

add crunchy postgres r2 bucket
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

update config of cruncy-postgres
  apps/crunchy-postgres-cluster/application.yaml
  apps/crunchy-postgres-cluster/kustomization.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/crunchy-postgres-cluster/secrets.yaml
  infra/helm/crunchy-postgres-operator/application.yaml
  infra/helm/crunchy-postgres-operator/secrets.yaml
  infra/terraform/dns.tf
Labels: area/kubernetes, area/apps, area/terraform, cluster/main

testing crunchy-postgres
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  infra/helm/arc-runners/secrets.yaml
  infra/helm/arc-runners/values.yaml
  infra/helm/external-secrets/clusterstore.yaml
  infra/helm/external-secrets/sa.yaml
Labels: area/kubernetes, area/apps, cluster/main

testing crunchy-postgres
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  infra/helm/arc-runners/secrets.yaml
  infra/helm/arc-runners/values.yaml
  infra/helm/external-secrets/clusterstore.yaml
  infra/helm/external-secrets/sa.yaml
Labels: area/kubernetes, area/apps, cluster/main

test
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
  infra/terraform/dns.tf
Labels: area/github, area/terraform, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
