Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

add openwebui dns
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

fix renovate grafana
  .github/renovate/grafanaDashboards.json
Labels: area/github

fix renovate grafana
  .github/renovate/grafanaDashboards.json
Labels: area/github

rever cloudflare provider version
  infra/terraform/.terraform.lock.hcl
  infra/terraform/providers.tf
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

update argocd config
  argocd/values.yaml
Labels: none

update pdf
  apps/pdf/values.yaml
Labels: area/apps

update argocd resources
  argocd/values.yaml
Labels: none

add sonar anime
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/sonar-anime.yaml
Labels: area/docker

add cadvisor for prometheus
  infra/helm/grafana/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

add new dns for anime
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

add transmission config mapping
  stacks/media-stack/transmission.yaml
Labels: area/docker

add specific path for completed dir
  stacks/media-stack/radar.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
Labels: area/docker

add musics
  infra/terraform/dns.tf
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/lidarr.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
  stacks/media-stack/soularr.yaml
  stacks/media-stack/transmission.yaml
  stacks/music-assistant.yaml
Labels: area/docker, area/terraform, cluster/main

change appdata folder for stacks
  stacks/homebridge.yaml
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/lidarr.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
  stacks/media-stack/soularr.yaml
  stacks/media-stack/transmission.yaml
  stacks/minio.yaml
  stacks/music-assistant.yaml
  stacks/n8n.yaml
  stacks/restic.yaml
  stacks/wyl.yaml
Labels: area/docker

rever provider for cloudflare
  infra/terraform/providers.tf
Labels: area/terraform, cluster/main

update slsdk
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/slskd.yaml
Labels: area/docker

update api version of external secrets
  apps/authentik/secrets.yaml
  apps/crunchy-postgres-cluster/secrets.yaml
  apps/homepage/secrets.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/secrets.yaml
  infra/helm/arc-runners/secrets.yaml
  infra/helm/crunchy-postgres-operator/secrets.yaml
  infra/helm/external-secrets/clusterstore.yaml
Labels: area/kubernetes, area/apps, cluster/main

add microbin
  apps/microbin/application.yaml
  apps/microbin/secrets.yaml
  apps/microbin/values.yaml
Labels: area/apps

change app-template repo
  apps/flaresolverr/application.yaml
  apps/homepage/application.yaml
  apps/jackett/application.yaml
  apps/kromgo/application.yaml
  apps/microbin/application.yaml
  apps/prowlarr/application.yaml
Labels: area/apps

lets limit this cluster
  apps/flaresolverr/values.yaml
  apps/homepage/values.yaml
  apps/microbin/values.yaml
  apps/ntfy/deployment.yaml
  apps/prowlarr/values.yaml
  apps/whoami/deployment.yaml
  infra/helm/cert-manager/values.yaml
  infra/helm/cloudflare-ingress/values.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
  infra/helm/external-secrets/values.yaml
  infra/helm/ingress-nginx/values.yaml
  infra/helm/longhorn-system/values.yaml
  infra/helm/metrics-server/values.yaml
  infra/helm/monitoring/values.yaml
  infra/helm/one-password/values.yaml
  infra/helm/reloader/values.yaml
  infra/helm/sealed-secrets/values.yaml
  infra/helm/spegel/values.yaml
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

helm as standar in app folder
  apps/kromgo/ingress.yaml
  apps/ntfy/application.yaml
  apps/ntfy/configmap.yaml
  apps/ntfy/deployment.yaml
  apps/ntfy/ingress.yaml
  apps/ntfy/service.yaml
  apps/ntfy/values.yaml
  apps/whoami/application.yaml
  apps/whoami/deployment.yaml
  apps/whoami/ingress.yaml
  apps/whoami/service.yaml
  apps/whoami/values.yaml
Labels: area/apps

increase number of ingress pods
  infra/helm/ingress-nginx/values.yaml
Labels: area/kubernetes, cluster/main

fix ingress and services of apps
  apps/kromgo/values.yaml
  apps/ntfy/values.yaml
  apps/whoami/values.yaml
Labels: area/apps

increase flaresolverr resources
  apps/flaresolverr/values.yaml
  apps/kromgo/values.yaml
  apps/ntfy/values.yaml
Labels: area/apps

test authentik
  apps/authentik/application.yaml
  apps/authentik/secrets.yaml
  apps/authentik/values.yaml
  apps/crunchy-postgres-cluster/crunchy-postgres-cluster-store.yaml
  apps/crunchy-postgres-cluster/kustomization.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/crunchy-postgres-cluster/rbac.yaml
  infra/helm/arc-runners/secrets.yaml
  infra/helm/external-secrets/clusterstore.yaml
  renovate.json
Labels: area/kubernetes, area/apps, cluster/main

fix slskd
  stacks/media-stack/slskd.yaml
Labels: area/docker

fix prometheus resources
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

add pgadmin
  apps/authentik/values.yaml
  apps/pgadmin/applitaction.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

fix pgadmin
  apps/pgadmin/application.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

fix authentik
  apps/authentik/values.yaml
Labels: area/apps

increase cpu limits for prometheus
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

update descheduler
  infra/helm/descheduler/values.yaml
Labels: area/kubernetes, cluster/main

add ldap service for authentik
  apps/authentik/ldap-service.yaml
Labels: area/apps

clean up
  apps/authentik/ldap-service.yaml
  apps/microbin/application.yaml
  apps/microbin/secrets.yaml
  apps/microbin/values.yaml
  apps/pdf/application.yaml
  apps/pdf/values.yaml
  apps/pgadmin/application.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

ignore crds changes in argocd
  argocd/values.yaml
Labels: none

add sso to argocd
  argocd/values.yaml
  infra/ansible/bootstrap.yaml
  infra/helm/ingress-nginx/values.yaml
Labels: area/kubernetes, cluster/main

upgrade talos linux to v.1.10.1 and k8s to 1.33
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

update grafana auth
  infra/helm/grafana/secrets.yaml
  infra/helm/grafana/values.yaml
Labels: area/kubernetes, cluster/main

organize using trashguides
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/lidarr.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
  stacks/media-stack/soularr.yaml
  stacks/media-stack/transmission.yaml
  stacks/music-assistant.yaml
Labels: area/docker

change transmission for qbittorrent
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/qbittorrent.yaml
Labels: area/docker

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
