Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

change sock5 config
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/socks5.yaml
Labels: area/docker

restore socks5
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/socks5.yaml
Labels: area/docker

update prowlarr
  apps/prowlarr/values.yaml
Labels: area/apps

increase postgres disk size
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

add lidarr
  stacks/media-stack/lidarr.yaml
Labels: area/docker

update lidarr
  stacks/media-stack/lidarr.yaml
Labels: area/docker

revert pgo
  infra/helm/crunchy-postgres-operator/application.yaml
Labels: area/kubernetes, cluster/main

new bucket on r2
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

add thelounge
  infra/helm/crunchy-postgres-operator/application.yaml
  infra/terraform/dns.tf
  stacks/thelounge.yaml
Labels: area/kubernetes, area/docker, area/terraform, cluster/main

fix proxy buffer size nginx
  infra/helm/ingress-nginx/values.yaml
Labels: area/kubernetes, cluster/main

add unpackerr
  stacks/media-stack/unpackerr.yaml
Labels: area/docker

update pgo
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

add nextcloud dns
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

update gluetun to use PIA
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
  stacks/media-stack/socks5.yaml
Labels: area/docker

remove unused ports on qbittorrent
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/qbittorrent.yaml
Labels: area/docker

update gluetun for wireguard
  stacks/media-stack/gluetun.yaml
Labels: area/docker

downgrade qbittorrent
  stacks/media-stack/qbittorrent.yaml
Labels: area/docker

limit unpackerr
  stacks/media-stack/unpackerr.yaml
Labels: area/docker

increase memory for minio
  stacks/minio.yaml
Labels: area/docker

update minio version
  stacks/minio.yaml
Labels: area/docker

add atuin
  apps/atuin/application.yaml
  apps/atuin/secrets.yaml
  apps/atuin/values.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

add atuin
  apps/atuin/application.yaml
  apps/atuin/secrets.yaml
  apps/atuin/values.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

change pool name
  stacks/homebridge.yaml
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/cross-seed.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/lidarr.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
  stacks/media-stack/unpackerr.yaml
  stacks/minio.yaml
  stacks/music-assistant.yaml
  stacks/n8n.yaml
  stacks/restic.yaml
  stacks/thelounge.yaml
  stacks/vscode.yaml
  stacks/wyl.yaml
Labels: area/docker

add intel gpu to jellyfin
  stacks/media-stack/jellyfin.yaml
Labels: area/docker

update jellyfin stack
  stacks/media-stack/jellyfin.yaml
Labels: area/docker

update docker labes and introduce duplicati
  stacks/duplicati.yaml
  stacks/homebridge.yaml
  stacks/media-stack/slskd.yaml
  stacks/minio.yaml
  stacks/music-assistant.yaml
  stacks/n8n.yaml
  stacks/restic.yaml
  stacks/thelounge.yaml
  stacks/wyl.yaml
Labels: area/docker

remove docker latest tag
  stacks/duplicati.yaml
  stacks/media-stack/slskd.yaml
  stacks/voice-assitant/ollama.yaml
Labels: area/docker

update duplicati config
  stacks/duplicati.yaml
Labels: area/docker

add duplicati dns record
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

remove unused bucket
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

add logs to atuin
  apps/atuin/values.yaml
Labels: area/apps

update duplicati config
  stacks/duplicati.yaml
Labels: area/docker

update lidarr docker image
  stacks/media-stack/lidarr.yaml
Labels: area/docker

limit the docker stacks
  stacks/deunhealth.yaml
  stacks/duplicati.yaml
  stacks/homebridge.yaml
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/cross-seed.yaml
  stacks/music-assistant.yaml
  stacks/n8n.yaml
  stacks/thelounge.yaml
  stacks/vscode.yaml
Labels: area/docker

update duplicati image
  stacks/duplicati.yaml
Labels: area/docker

change n8n user and group
  stacks/n8n.yaml
Labels: area/docker

revert version of music assitant
  stacks/music-assistant.yaml
Labels: area/docker

change lidarr image
  stacks/media-stack/lidarr.yaml
Labels: area/docker

add thelounge and znc
  apps/thelounge/application.yaml
  apps/thelounge/backup.yaml
  apps/thelounge/restore.yaml
  apps/thelounge/secrets.yaml
  apps/thelounge/values.yaml
  apps/znc/application.yaml
  apps/znc/backup.yaml
  apps/znc/restore.yaml
  apps/znc/secrets.yaml
  apps/znc/values.yaml
  infra/terraform/dns.tf
Labels: area/apps, area/terraform, cluster/main

fix znc
  apps/thelounge/application.yaml
  apps/thelounge/values.yaml
  apps/znc/application.yaml
  apps/znc/values.yaml
Labels: area/apps
