Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

remove self heal
  apps/application-set.yaml
Labels: area/apps

update freqtrade for testing
  apps/freqtrade/configmap.yaml
  apps/freqtrade/deployment.yaml
Labels: area/apps

update fretrade
  apps/freqtrade/configmap.yaml
Labels: area/apps

disable freqtrade
  apps/project.yaml
Labels: area/apps

upadte ollama
  apps/ollama/values.yaml
Labels: area/apps

create vpn-network
  stacks/media-stack/transmission-nordlynx.yaml
Labels: area/docker

testing
  apps/freqtrade/configmap.yaml
  apps/freqtrade/deployment.yaml
Labels: area/apps

separate transmission and gluetun
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/transmission-nordlynx.yaml
  stacks/media-stack/transmission.yaml
Labels: area/docker

change port of kromgo
  README.md
  apps/kromgo/config.yaml
  apps/kromgo/values.yaml
Labels: area/docs, area/apps

add reloader
  infra/helm/reloader/application.yaml
  infra/helm/reloader/values.yaml
Labels: area/kubernetes, cluster/main

manage argocd
  sets/argocd.yaml
Labels: none

manage argocd
  apps/project.yaml
  apps/wazuh/base/storage-class.yaml
  apps/wazuh/base/wazuh-ns.yaml
  apps/wazuh/indexer-resources.yaml
  apps/wazuh/indexer_stack/wazuh-dashboard/dashboard-deploy.yaml
  apps/wazuh/indexer_stack/wazuh-dashboard/dashboard-ingress.yaml
  apps/wazuh/indexer_stack/wazuh-dashboard/dashboard-svc.yaml
  apps/wazuh/indexer_stack/wazuh-dashboard/dashboard_conf/opensearch_dashboards.yml
  apps/wazuh/indexer_stack/wazuh-indexer/cluster/indexer-api-svc.yaml
  apps/wazuh/indexer_stack/wazuh-indexer/cluster/indexer-sts.yaml
  apps/wazuh/indexer_stack/wazuh-indexer/indexer-svc.yaml
  apps/wazuh/indexer_stack/wazuh-indexer/indexer_conf/internal_users.yml
  apps/wazuh/indexer_stack/wazuh-indexer/indexer_conf/opensearch.yml
  apps/wazuh/kustomization.yml
  apps/wazuh/secrets/dashboard-certs-secret.yaml
  apps/wazuh/secrets/dashboard-cred-secret.yaml
  apps/wazuh/secrets/indexer-certs-secret.yaml
  apps/wazuh/secrets/indexer-cred-secret.yaml
  apps/wazuh/secrets/wazuh-api-cred-secret.yaml
  apps/wazuh/secrets/wazuh-authd-pass-secret.yaml
  apps/wazuh/secrets/wazuh-cluster-key-secret.yaml
  apps/wazuh/wazuh-resources.yaml
  apps/wazuh/wazuh_managers/wazuh-cluster-svc.yaml
  apps/wazuh/wazuh_managers/wazuh-master-sts.yaml
  apps/wazuh/wazuh_managers/wazuh-master-svc.yaml
  apps/wazuh/wazuh_managers/wazuh-worker-sts.yaml
  apps/wazuh/wazuh_managers/wazuh-workers-svc.yaml
  apps/wazuh/wazuh_managers/wazuh_conf/master.conf
  apps/wazuh/wazuh_managers/wazuh_conf/worker.conf
  argocd/kustomization.yaml
  infra/helm/grafana/application.yaml
  infra/helm/reloader/application.yaml
  sets/argocd.yaml
Labels: area/kubernetes, area/apps, cluster/main

move actions-runner image to another repo
  .github/workflows/docker-image-arc.yaml
  Dockerfile
  infra/helm/arc-runners/values.yaml
Labels: area/github, area/kubernetes, cluster/main

test commig
  terraform/dns.tf
Labels: none

remove auto heal in argocd
  infra/kustomize-helm/kustomize-application-set.yaml
Labels: area/kubernetes, cluster/main

fix database creation
  infra/kustomize-helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

add atoca repo to argocd
  argocd/values.yaml
Labels: none

Revert "add atoca repo to argocd"
  argocd/values.yaml
Labels: none

update colors of labeler
  .github/labels.yaml
Labels: area/github

enable glutun proxy service
  stacks/media-stack/gluetun.yaml
Labels: area/docker

add grafana loki
  infra/helm/grafana/values.yaml
  infra/helm/loki/application.yaml
  infra/helm/loki/values.yaml
Labels: area/kubernetes, cluster/main

add loki dashboard to grafana
  infra/helm/grafana/values.yaml
Labels: area/kubernetes, cluster/main

change parameter of monitoring ns
  apps/kromgo/values.yaml
  infra/helm/grafana/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

introduce ansible
  ansible/k3s-setup.yaml
  ansible/kubernetes-setup.yaml
  ansible/one-password.yaml
  ansible/op-kubeseal.yaml
Labels: none

add tandoor dns record
  terraform/dns.tf
Labels: none

revert version of longhorn
  infra/helm/longhorn-system/application.yaml
Labels: area/kubernetes, cluster/main

update one-password-secrets
  infra/kustomize-helm/one-password/onepassword-token.yaml
  infra/kustomize-helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

remove gpu node
  ansible/kubernetes-setup.yaml
Labels: none

update kubeseal one password secreats
  infra/kustomize-helm/one-password/onepassword-token.yaml
  infra/kustomize-helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

cleanup
  README.md
  apps/ollama/kustomization.yaml
  apps/ollama/namespace.yaml
  apps/ollama/values.yaml
  apps/open-webui/deployment.yaml
  apps/open-webui/ingress.yaml
  apps/open-webui/kustomization.yaml
  apps/open-webui/namespace.yaml
  apps/open-webui/pvc.yaml
  apps/open-webui/service.yaml
  apps/project.yaml
  docs/gpu-node.md
  infra/kustomize-helm/kustomize-application-set.yaml
  infra/kustomize-helm/nvidia/kustomization.yaml
  infra/kustomize-helm/nvidia/namespace.yaml
  infra/kustomize-helm/nvidia/nvidia-device-plugin.yaml
  infra/kustomize-helm/nvidia/runtimeclass.yaml
  infra/kustomize-helm/zitadel/kustomization.yaml
  infra/kustomize-helm/zitadel/namespace.yaml
  infra/kustomize-helm/zitadel/secrets.yaml
  infra/kustomize-helm/zitadel/values.yaml
  stacks/netdata.yaml
Labels: area/docs, area/kubernetes, area/apps, area/docker, cluster/main

remove gpu-k8s from wazuh
  apps/wazuh/indexer_stack/wazuh-dashboard/dashboard-deploy.yaml
  apps/wazuh/indexer_stack/wazuh-indexer/cluster/indexer-sts.yaml
  apps/wazuh/wazuh_managers/wazuh-master-sts.yaml
  apps/wazuh/wazuh_managers/wazuh-worker-sts.yaml
Labels: area/apps

fix metallbsystem crds
  infra/helm/metallb-system/application.yaml
Labels: area/kubernetes, cluster/main

add ingress to loki
  infra/helm/loki/values.yaml
Labels: area/kubernetes, cluster/main

change op seal
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

fix typo
  infra/helm/cert-manager/values.yaml
  infra/helm/csi/application.yaml
  infra/helm/ingress-nginx/values.yaml
  infra/helm/longhorn-system/application.yaml
Labels: area/kubernetes, cluster/main

fix typo
  infra/helm/cert-manager/values.yaml
  infra/helm/csi/application.yaml
  infra/helm/ingress-nginx/values.yaml
  infra/helm/longhorn-system/application.yaml
Labels: area/kubernetes, cluster/main

Add ansible playbook for one-password
  infra/ansible/one-password.yaml
  infra/kustomize-helm/sealed-secrets/kustomization.yaml
  infra/kustomize-helm/sealed-secrets/namespace.yaml
  infra/kustomize-helm/sealed-secrets/values.yaml
Labels: area/kubernetes, cluster/main

housekeeping
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
  README.md
  infra/terraform/.terraform.lock.hcl
  infra/terraform/dns.tf
  infra/terraform/main.tf
  infra/terraform/providers.tf
  infra/terraform/variables.tf
Labels: area/docs, area/github, area/kubernetes, cluster/main

introduce talos linux
  .sops.yaml
  README.md
  docs/talos.md
  infra/helm/kured/application.yaml
  infra/helm/kured/values.yaml
  infra/terraform/dns.tf
Labels: area/docs, area/kubernetes, cluster/main

add spegel
  infra/helm/spegel/application.yaml
  infra/helm/spegel/values.yaml
Labels: area/kubernetes, cluster/main
