Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

add authelia and lldap
  .taskfiles/kubernetes/Taskfile.yaml
  apps/authelia/application.yaml
  apps/authelia/config.yaml
  apps/authelia/secrets.yaml
  apps/authelia/values.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/lldap/application.yaml
  apps/lldap/secrets.yaml
  apps/lldap/values.yaml
Labels: area/apps

add authelia and lldap
  .taskfiles/kubernetes/Taskfile.yaml
  apps/authelia/application.yaml
  apps/authelia/config.yaml
  apps/authelia/secrets.yaml
  apps/authelia/values.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/lldap/application.yaml
  apps/lldap/secrets.yaml
  apps/lldap/values.yaml
Labels: area/apps

update authelia version
  apps/authelia/values.yaml
Labels: area/apps

more tools for the workstation
  .taskfiles/workstation/resources/Brewfile
Labels: none

fix typo in db size
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

add qui
  .taskfiles/workstation/resources/Brewfile
  apps/qui/application.yaml
  apps/qui/backup.yaml
  apps/qui/restore.yaml
  apps/qui/values.yaml
Labels: area/apps

add fusion
  apps/fusion/application.yaml
  apps/fusion/backup.yaml
  apps/fusion/restore.yaml
  apps/fusion/secrets.yaml
  apps/fusion/values.yaml
  apps/qui/secrets.yaml
Labels: area/apps

fix qui ingress
  apps/qui/values.yaml
Labels: area/apps

configure vikunja to use authelia
  apps/vikunja/secrets.yaml
  apps/vikunja/values.yaml
Labels: area/apps

fix vikunja typo
  apps/vikunja/secrets.yaml
Labels: area/apps

add more database management
  apps/crunchy-postgres-cluster/kustomization.yaml
  apps/crunchy-postgres-cluster/podmonitor.yaml
  apps/pgadmin/application.yaml
  apps/pgadmin/ingress.yaml
  apps/pgadmin/kustomization.yaml
  apps/pgadmin/pgadmin.yaml
  apps/pgadmin/secrets.yaml
  infra/helm/grafana/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

monitor the db
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

rollback monitor postgres
  apps/crunchy-postgres-cluster/kustomization.yaml
  apps/crunchy-postgres-cluster/podmonitor.yaml
  infra/helm/grafana/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

rollback monitor postgres
  apps/crunchy-postgres-cluster/kustomization.yaml
  apps/crunchy-postgres-cluster/podmonitor.yaml
  infra/helm/grafana/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

increase bazarr cpu
  stacks/media-stack/bazarr.yaml
Labels: area/docker

update unpacker cofig
  stacks/media-stack/unpackerr.yaml
Labels: area/docker

update lidarr version
  stacks/media-stack/lidarr.yaml
Labels: area/docker

revert version pin of prometheus
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

add same status code return to nginx
  infra/helm/ingress-nginx/values.yaml
Labels: area/kubernetes, cluster/main

remove notify
  apps/ntfy/application.yaml
  apps/ntfy/values.yaml
Labels: area/apps

change prometheus image to prompp
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

change prometheus image to prompp
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

introduce ksgate
  infra/helm/ksgate/application.yaml
Labels: area/kubernetes, cluster/main

test ksgate implementation on authelia and lldap
  apps/authelia/application.yaml
  apps/authelia/values.yaml
  apps/lldap/application.yaml
  apps/lldap/values.yaml
Labels: area/apps

add qbit port maanager
  stacks/media-stack/gluetun-qbit-port-manager.yaml
  stacks/media-stack/gluetun.yaml
Labels: area/docker

housekeeping
  apps/flaresolverr/application.yaml
  apps/fusion/application.yaml
  apps/homepage/application.yaml
  apps/kromgo/application.yaml
  apps/lldap/application.yaml
  apps/lldap/values.yaml
  apps/prowlarr/application.yaml
  apps/qui/application.yaml
  apps/thelounge/application.yaml
  apps/vikunja/application.yaml
  apps/whoami/application.yaml
Labels: area/apps

remove homepage
  apps/homepage/application.yaml
  apps/homepage/configmap.yaml
  apps/homepage/rbac.yaml
  apps/homepage/secrets.yaml
  apps/homepage/values.yaml
Labels: area/apps

update the monitoring solution values
  infra/helm/monitoring/alertmanager-config.yaml
  infra/helm/monitoring/application.yaml
  infra/helm/monitoring/secrets.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

update the monitoring solution values
  .gitignore
  infra/helm/monitoring/alertmanager-config.yaml
  infra/helm/monitoring/application.yaml
  infra/helm/monitoring/secrets.yaml
  infra/helm/monitoring/values.yaml
  infra/talos/controlplane.enc.yaml
Labels: area/kubernetes, cluster/main

update the monitoring solution values
  .gitignore
  infra/helm/monitoring/values.yaml
  infra/talos/controlplane.enc.yaml
Labels: area/kubernetes, cluster/main

housekeeping the longhorn
  infra/helm/longhorn-system/longhorn-pdb.yaml
  infra/helm/longhorn-system/secrets.yaml
  infra/helm/longhorn-system/values.yaml
Labels: area/kubernetes, cluster/main

update k8s version
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

fix external-dns
  infra/ansible/bootstrap.yaml
  infra/helm/external-dns/application.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, cluster/main

change volsync images back to previous
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

update csi version
  infra/helm/csi/application.yaml
  infra/helm/external-dns/secrets.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, cluster/main

update csi version
  README.md
  infra/helm/csi/application.yaml
  infra/helm/external-dns/secrets.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/docs, area/kubernetes, cluster/main

fine tunning monitoring
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

treat well the qbit port manager
  stacks/media-stack/gluetun-qbit-port-manager.yaml
Labels: area/docker

move prmetheus scrape configs
  infra/helm/monitoring/alertmanager-config.yaml
  infra/helm/monitoring/scrape-config.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main
