Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

add nfs patht o radarr
  apps/radarr/values.yaml
  infra/helm/longhorn-system/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

update talos config
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

migrate longhorn to openebs
  apps/code-server/volume.yaml
  apps/freqtrade/pvc.yaml
  apps/jackett/values.yaml
  apps/prowlarr/values.yaml
  apps/radarr/values.yaml
  apps/sonarr/values.yaml
  infra/helm/longhorn-system/application.yaml
  infra/helm/longhorn-system/longhorn-pdb.yaml
  infra/helm/longhorn-system/recurring_job.yaml
  infra/helm/longhorn-system/secrets.yaml
  infra/helm/longhorn-system/values.yaml
  infra/helm/monitoring/values.yaml
  infra/helm/openebs/application.yaml
  infra/helm/openebs/values.yaml
  infra/helm/velero/application.yaml
Labels: area/kubernetes, area/apps, cluster/main

revert longhorn
  apps/code-server/volume.yaml
  apps/freqtrade/pvc.yaml
  apps/jackett/values.yaml
  apps/prowlarr/values.yaml
  apps/radarr/values.yaml
  apps/sonarr/values.yaml
  infra/helm/longhorn-system/application.yaml
  infra/helm/longhorn-system/longhorn-pdb.yaml
  infra/helm/longhorn-system/recurring_job.yaml
  infra/helm/longhorn-system/secrets.yaml
  infra/helm/longhorn-system/values.yaml
  infra/helm/monitoring/values.yaml
  infra/helm/openebs/application.yaml
  infra/helm/openebs/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

update talos
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

add volsync
  infra/helm/volsync-system/application.yaml
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

add annoations for volsync
  apps/code-server/application.yaml
  apps/freqtrade/application.yaml
  apps/jackett/application.yaml
  apps/prowlarr/application.yaml
  apps/radarr/application.yaml
  apps/sonarr/application.yaml
  infra/helm/monitoring/application.yaml
Labels: area/kubernetes, area/apps, cluster/main

update image of volsync
  infra/helm/volsync-system/values.yaml
Labels: area/kubernetes, cluster/main

update namspeca tag
  apps/code-server/application.yaml
  apps/freqtrade/application.yaml
  apps/jackett/application.yaml
  apps/prowlarr/application.yaml
  apps/radarr/application.yaml
  apps/sonarr/application.yaml
  infra/helm/monitoring/application.yaml
Labels: area/kubernetes, area/apps, cluster/main

test volsync in monitoring
  infra/helm/monitoring/backup.yaml
  infra/helm/monitoring/secrets.yaml
Labels: area/kubernetes, cluster/main

fix annotations for volsync
  apps/code-server/application.yaml
  apps/freqtrade/application.yaml
  apps/jackett/application.yaml
  apps/prowlarr/application.yaml
  apps/radarr/application.yaml
  apps/sonarr/application.yaml
  infra/helm/monitoring/application.yaml
Labels: area/kubernetes, area/apps, cluster/main

add external-secrets
  infra/helm/external-secrets/application.yaml
  infra/helm/external-secrets/clusterstore.yaml
  infra/helm/external-secrets/values.yaml
Labels: area/kubernetes, cluster/main

add volsync bkp to code-server
  apps/code-server/backup.yaml
  apps/code-server/secrets.yaml
Labels: area/apps

add volsync to all the apps
  apps/code-server/secrets.yaml
  apps/jackett/application.yaml
  apps/jackett/backup.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/backup.yaml
  apps/prowlarr/secrets.yaml
  apps/radarr/application.yaml
  apps/radarr/backup.yaml
  apps/radarr/secrets.yaml
  apps/sonarr/application.yaml
  apps/sonarr/backup.yaml
  apps/sonarr/secrets.yaml
Labels: area/apps

fix bakcups
  apps/jackett/backup.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/backup.yaml
  apps/radarr/backup.yaml
  apps/radarr/secrets.yaml
  apps/sonarr/backup.yaml
  apps/sonarr/secrets.yaml
Labels: area/apps

test
  apps/radarr/values.yaml
Labels: area/apps

test radarr
  apps/radarr/values.yaml
Labels: area/apps

test sonarr
  apps/sonarr/values.yaml
Labels: area/apps

change secrets names
  apps/jackett/backup.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/backup.yaml
  apps/prowlarr/secrets.yaml
  apps/radarr/backup.yaml
  apps/radarr/secrets.yaml
  apps/sonarr/backup.yaml
  apps/sonarr/secrets.yaml
Labels: area/apps

ajust backups
  apps/jackett/backup.yaml
  apps/radarr/backup.yaml
  apps/sonarr/backup.yaml
Labels: area/apps

move back sonar and radar to the nas
  apps/radarr/application.yaml
  apps/sonarr/application.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sonar.yaml
Labels: area/apps, area/docker

clenaup
  apps/radarr/application.yaml
  apps/radarr/backup.yaml
  apps/radarr/secrets.yaml
  apps/radarr/values.yaml
  apps/sonarr/application.yaml
  apps/sonarr/backup.yaml
  apps/sonarr/secrets.yaml
  apps/sonarr/values.yaml
  infra/helm/nfs-client-provisioner/application.yaml
  infra/helm/nfs-client-provisioner/values.yaml
  infra/helm/velero/application.yaml
  infra/helm/velero/schedule.yaml
  infra/helm/velero/secrets.yaml
  infra/helm/velero/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

update postgres
  infra/helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

add tag to minio
  stacks/minio.yaml
Labels: area/docker

add dns entrys
  infra/terraform/dns.tf
Labels: area/kubernetes, cluster/main

remove nodejs from opentofu action
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
Labels: area/github
