Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, cluster/main

add nfs client provisioner
  infra/helm/nfs-client-provisioner/application.yaml
  infra/helm/nfs-client-provisioner/values.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

fix lonhorn
  infra/helm/longhorn-system/values.yaml
Labels: area/kubernetes, cluster/main

Introduce talos
  docs/install.md
  infra/helm/sealed-secrets/application.yaml
  infra/talos/config.enc.yaml
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: area/docs, area/kubernetes, cluster/main

add node-exporter
  README.md
  infra/helm/monitoring/application.yaml
  infra/helm/monitoring/values.yaml
Labels: area/docs, area/kubernetes, cluster/main

fix loki
  infra/helm/loki/application.yaml
  infra/helm/loki/values.yaml
Labels: area/kubernetes, cluster/main

fix kromgo
  apps/kromgo/values.yaml
Labels: area/apps

change wazuh config
  apps/wazuh/indexer_stack/wazuh-indexer/cluster/indexer-sts.yaml
Labels: area/apps

change nfs solution
  infra/helm/nfs-client-provisioner/values.yaml
Labels: area/kubernetes, cluster/main

fix sets
  sets/applications-project.yaml
  sets/applications.yaml
  sets/apps.yaml
  sets/kustomization.yaml
Labels: none

add cloudflare ingress
  infra/helm/cloudflare-ingress/application.yaml
  infra/helm/cloudflare-ingress/secrets.yaml
  infra/helm/cloudflare-ingress/values.yaml
Labels: area/kubernetes, cluster/main

remove cloudflare operator
  apps/code-server/tunnel.yaml
  apps/kromgo/tunnel.yaml
  apps/ntfy/tunnel.yaml
  apps/whoami/tunnel.yaml
  infra/helm/cloudflare-operator-system/application.yaml
  infra/helm/cloudflare-operator-system/clustertunnel.yaml
  infra/helm/cloudflare-operator-system/secrets.yaml
Labels: area/kubernetes, area/apps, cluster/main

add ingresses for cloudflare
  apps/code-server/ingress.yaml
  apps/kromgo/ingress.yaml
  apps/ntfy/ingress.yaml
  apps/whoami/ingress.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

move flaresolverr
  apps/flaresolverr/application.yaml
  apps/flaresolverr/values.yaml
  stacks/media-stack/flaresolverr.yaml
Labels: area/apps, area/docker

improve databases
  infra/helm/databases/cluster.yaml
  infra/helm/databases/scheduledbackup.yaml
  infra/helm/databases/secrets.yaml
Labels: area/kubernetes, cluster/main

im tired and i dont know what to say in here
  infra/helm/databases/cluster.yaml
  infra/terraform/dns.tf
Labels: area/kubernetes, cluster/main

test nfs storage for media-stack in k8s
  apps/jackett/application.yaml
  apps/jackett/values.yaml
  infra/helm/nfs-client-provisioner/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

add radarr
  apps/radarr/application.yaml
  apps/radarr/values.yaml
  apps/sonarr/application.yaml
  apps/sonarr/values.yaml
Labels: area/apps

add extra mnts to radarr
  apps/radarr/values.yaml
Labels: area/apps

add sonarr to k8s
  apps/sonarr/application.yaml
  apps/sonarr/values.yaml
Labels: area/apps

add prowlarr and remove docker composes
  apps/prowlarr/application.yaml
  apps/prowlarr/values.yaml
  stacks/media-stack/jackett.yaml
  stacks/media-stack/prowlarr.yaml
  stacks/media-stack/radarr.yaml
  stacks/media-stack/sonarr.yaml
Labels: area/apps, area/docker

cleanup terraform
  apps/prowlarr/values.yaml
  infra/terraform/dns.tf
Labels: area/kubernetes, area/apps, cluster/main

fix sonar and radar path
  apps/radarr/values.yaml
  apps/sonarr/values.yaml
Labels: area/apps

update apps security context
  apps/jackett/values.yaml
  apps/prowlarr/values.yaml
  apps/radarr/values.yaml
  apps/sonarr/values.yaml
Labels: area/apps

add more configs to infra
  docs/install.md
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: area/docs, area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

fix applications
  apps/code-server/application.yaml
  apps/flaresolverr/application.yaml
  apps/freqtrade/application.yaml
  apps/homepage/application.yaml
  apps/jackett/application.yaml
  apps/jackett/values.yaml
  apps/kromgo/application.yaml
  apps/ntfy/application.yaml
  apps/ntfy/pvc.yaml
  apps/prowlarr/application.yaml
  apps/prowlarr/values.yaml
  apps/radarr/application.yaml
  apps/radarr/values.yaml
  apps/sonarr/application.yaml
  apps/sonarr/values.yaml
  apps/whoami/application.yaml
  infra/talos/controlplane.enc.yaml
Labels: area/kubernetes, area/apps, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

test radarr with nfs
  apps/radarr/values.yaml
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: area/kubernetes, area/apps, cluster/main

configure homepage
  apps/code-server/ingress.yaml
  apps/homepage/values.yaml
  apps/ntfy/ingress.yaml
  apps/whoami/ingress.yaml
  argocd/values.yaml
  infra/helm/grafana/values.yaml
  infra/helm/longhorn-system/values.yaml
  infra/helm/metrics-server/application.yaml
  infra/helm/metrics-server/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

add bootstrap ansible playbook
  infra/ansible/bootstrap.yaml
Labels: area/kubernetes, cluster/main

change naming for monitoring
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

add talos version to kromgo
  README.md
  apps/kromgo/config.yaml
Labels: area/docs, area/apps

update reloader
  infra/helm/reloader/values.yaml
Labels: area/kubernetes, cluster/main

ignorediferences in reloader
  infra/helm/reloader/application.yaml
Labels: area/kubernetes, cluster/main

temp remove nfs connections
  apps/radarr/values.yaml
  apps/sonarr/values.yaml
Labels: area/apps

testing security of jackett
  apps/flaresolverr/values.yaml
  apps/jackett/values.yaml
  apps/kromgo/values.yaml
  apps/prowlarr/values.yaml
  apps/radarr/values.yaml
  apps/sonarr/values.yaml
Labels: area/apps

update spegel
  infra/helm/spegel/values.yaml
Labels: area/kubernetes, cluster/main

testing cnpg
  infra/helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
