Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

testing crunchy-postgres
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  infra/helm/arc-runners/secrets.yaml
  infra/helm/arc-runners/values.yaml
  infra/helm/external-secrets/clusterstore.yaml
  infra/helm/external-secrets/sa.yaml
  infra/terraform/dns.tf
Labels: area/github, area/kubernetes, area/apps, area/terraform, cluster/main

testing
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
  infra/terraform/dns.tf
Labels: area/github, area/terraform, cluster/main

testing crunchy-postgres
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  infra/helm/arc-runners/secrets.yaml
  infra/helm/arc-runners/values.yaml
  infra/helm/external-secrets/clusterstore.yaml
  infra/helm/external-secrets/sa.yaml
Labels: area/github, area/kubernetes, area/apps, cluster/main

remove cnpg
  infra/helm/cnpg-system/application.yaml
  infra/helm/databases/application.yaml
  infra/helm/databases/cluster.yaml
  infra/helm/databases/scheduledbackup.yaml
  infra/helm/databases/secrets.yaml
Labels: area/kubernetes, cluster/main

add authentik use to db
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

add authentik
  apps/authentik/application.yaml
  apps/authentik/secrets.yaml
  apps/authentik/values.yaml
Labels: area/apps

update database
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

update authentik
  apps/authentik/secrets.yaml
  apps/authentik/values.yaml
Labels: area/apps

update talos config
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

updates
  infra/ansible/bootstrap.yaml
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

updates
  infra/ansible/bootstrap.yaml
  infra/helm/descheduler/values.yaml
Labels: area/kubernetes, cluster/main

update descheduler
  infra/helm/descheduler/values.yaml
Labels: area/kubernetes, cluster/main

update jellyfin and jellyseer
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/jellyseerr.yaml
Labels: area/docker

update jackett
  apps/jackett/values.yaml
Labels: area/apps

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

add kvm dns name
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

fix talos config
  infra/talos/controlplane.enc.yaml
  infra/talos/worker-1.enc.yaml
  infra/talos/worker-2.enc.yaml
  infra/talos/worker-3.enc.yaml
Labels: cluster/main

Add sealed secret for One Password
  infra/helm/one-password/onepassword-token.yaml
  infra/helm/one-password/op-credentials.yaml
Labels: area/kubernetes, cluster/main

add restic backup for appdata
  stacks/restic.yaml
Labels: area/docker

configure db for docueseal§
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/docuseal/secrets.yaml
  apps/docuseal/values.yaml
Labels: area/apps

remove docuseal
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/docuseal/application.yaml
  apps/docuseal/secrets.yaml
  apps/docuseal/values.yaml
Labels: area/apps

move hass and adguard dns
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

Add mass and homebridge dns names
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

add homebridge and music assitant stacks
  stacks/homebridge.yaml
  stacks/music-assistant.yaml
Labels: area/docker

update homepage
  apps/homepage/configmap.yaml
  apps/homepage/values.yaml
Labels: area/apps

remove loki
  infra/helm/grafana/values.yaml
  infra/helm/loki/application.yaml
  infra/helm/loki/ingress.yaml
  infra/helm/loki/values.yaml
  infra/helm/monitoring/backup.yaml
  infra/helm/monitoring/secrets.yaml
Labels: area/kubernetes, cluster/main

introduce new ai project in home cluster
  ai/ollama/application.yaml
  ai/ollama/values.yaml
  ai/open-webui/application.yaml
  ai/open-webui/values.yaml
  ai/wyoming-piper/application.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/application.yaml
  ai/wyoming-whisper/values.yaml
  sets/ai-project.yaml
  sets/ai.yaml
Labels: none

change appdata volumes for stack
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/sonar.yaml
  stacks/minio.yaml
  stacks/n8n.yaml
Labels: area/docker

update resources values
  ai/ollama/values.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/values.yaml
Labels: none

update renovate config
  .github/renovate/grafanaDashboards.json
  renovate.json
Labels: area/github

add new node
  infra/ansible/bootstrap.yaml
  infra/talos/worker-4.enc.yaml
Labels: cluster/main

add node selector
  ai/ollama/values.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/values.yaml
Labels: none

add lb
  ai/ollama/values.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/values.yaml
Labels: none

add new project to kustomize
  sets/kustomization.yaml
Labels: none

fix ai values path
  ai/ollama/application.yaml
  ai/ollama/values.yaml
  ai/open-webui/application.yaml
  ai/open-webui/values.yaml
  ai/wyoming-piper/application.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/application.yaml
  ai/wyoming-whisper/values.yaml
Labels: none

fix ai values path
  ai/ollama/application.yaml
  ai/ollama/values.yaml
  ai/open-webui/application.yaml
  ai/open-webui/values.yaml
  ai/wyoming-piper/application.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/application.yaml
  ai/wyoming-whisper/values.yaml
Labels: none

update ollama helm chart
  ai/ollama/application.yaml
  ai/ollama/values.yaml
  infra/talos/worker-4.enc.yaml
Labels: cluster/main

move logic of voice assistants
  ai/ollama/application.yaml
  ai/ollama/values.yaml
  ai/open-webui/application.yaml
  ai/open-webui/values.yaml
  ai/wyoming-piper/application.yaml
  ai/wyoming-piper/values.yaml
  ai/wyoming-whisper/application.yaml
  ai/wyoming-whisper/values.yaml
  infra/talos/worker-4.enc.yaml
  sets/ai-project.yaml
  sets/ai.yaml
  sets/kustomization.yaml
  stacks/voice-assitant/ollama.yaml
  stacks/voice-assitant/openweb-ui.yaml
  stacks/voice-assitant/wyoming-piper.yaml
  stacks/voice-assitant/wyoming-whisper.yaml
Labels: area/docker, cluster/main
