Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

update nginx for znc
  apps/znc/values.yaml
Labels: area/apps

fix typo in ingress nginx
  infra/helm/ingress-nginx/values.yaml
Labels: area/kubernetes, cluster/main

update unpacker mount volumes
  stacks/media-stack/unpackerr.yaml
Labels: area/docker

update restic config
  stacks/restic.yaml
Labels: area/docker

change ollama image to suport amd apu
  stacks/voice-assitant/ollama.yaml
Labels: area/docker

revert jellyfin version
  stacks/media-stack/jellyfin.yaml
Labels: area/docker

change renovate to best-practices
  renovate.json
Labels: none

update restic config
  stacks/restic.yaml
Labels: area/docker

update container permissions
  stacks/homebridge.yaml
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/slskd.yaml
Labels: area/docker

add glances, syncthing and qbit_manage
  infra/terraform/dns.tf
  stacks/glances.yaml
  stacks/media-stack/qbit_manage.yaml
  stacks/syncthing.yaml
Labels: area/docker, area/terraform, cluster/main

fix qbitmanage
  stacks/media-stack/qbit_manage.yaml
Labels: area/docker

fixes
  LICENSE
  stacks/glances.yaml
  stacks/media-stack/qbit_manage.yaml
Labels: area/docker

fix typo
  stacks/syncthing.yaml
Labels: area/docker

update music assitant config
  stacks/music-assistant.yaml
Labels: area/docker

update unpackerr config
  stacks/media-stack/unpackerr.yaml
Labels: area/docker

update socks5 container image
  stacks/media-stack/socks5.yaml
Labels: area/docker

update cross-seed config
  stacks/media-stack/cross-seed.yaml
Labels: area/docker

update socks5 with deunhealth label
  stacks/media-stack/socks5.yaml
Labels: area/docker

increase postgres volume size
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

remove atuin
  apps/atuin/application.yaml
  apps/atuin/secrets.yaml
  apps/atuin/values.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
Labels: area/apps

Remove authentik
  apps/authentik/application.yaml
  apps/authentik/secrets.yaml
  apps/authentik/values.yaml
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  argocd/values.yaml
  infra/ansible/bootstrap.yaml
  infra/helm/grafana/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

update jellyfin
  stacks/media-stack/jellyfin.yaml
Labels: area/docker

update gluetun config
  stacks/media-stack/gluetun.yaml
Labels: area/docker

add some fancy stuff
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/workstation/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  .vscode/settings.json
  README.md
  Taskfile.yaml
Labels: area/docs

adjust disk sizes
  apps/prowlarr/values.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, area/apps, cluster/main

update minio version
  stacks/minio.yaml
Labels: area/docker

update nas paths
  .editorconfig
  .gitignore
  .taskfiles/workstation/resources/Brewfile
  README.md
  stacks/duplicati.yaml
  stacks/glances.yaml
  stacks/homebridge.yaml
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/cross-seed.yaml
  stacks/media-stack/gluetun.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/lidarr.yaml
  stacks/media-stack/qbit_manage.yaml
  stacks/media-stack/qbittorrent.yaml
  stacks/media-stack/radar.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/slskd.yaml
  stacks/media-stack/sonar-anime.yaml
  stacks/media-stack/sonar.yaml
  stacks/media-stack/unpackerr.yaml
  stacks/minio.yaml
  stacks/music-assistant.yaml
  stacks/n8n.yaml
  stacks/syncthing.yaml
  stacks/thelounge.yaml
  stacks/vscode.yaml
Labels: area/docs, area/docker

fix path of duplicati
  stacks/duplicati.yaml
Labels: area/docker

increase bazarr memory
  stacks/media-stack/bazarr.yaml
Labels: area/docker

update kromgo informations
  README.md
  apps/kromgo/config.yaml
Labels: area/docs, area/apps

quick fix
  stacks/media-stack/qbittorrent.yaml
Labels: area/docker

add network to docker stacks
  stacks/deunhealth.yaml
  stacks/media-stack/autobrr.yaml
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/cross-seed.yaml
  stacks/media-stack/jellyseerr.yaml
  stacks/media-stack/unpackerr.yaml
  stacks/restic.yaml
  stacks/thelounge.yaml
  stacks/vscode.yaml
Labels: area/docker

change lidarr docker image
  stacks/media-stack/lidarr.yaml
Labels: area/docker

remove jackett
  apps/jackett/application.yaml
  apps/jackett/backup.yaml
  apps/jackett/restore.yaml
  apps/jackett/secrets.yaml
  apps/jackett/values.yaml
Labels: area/apps

remove voice stack
  stacks/voice-assitant/ollama.yaml
  stacks/voice-assitant/openweb-ui.yaml
  stacks/voice-assitant/wyoming-piper.yaml
  stacks/voice-assitant/wyoming-whisper.yaml
Labels: area/docker

update znc ports
  apps/znc/values.yaml
Labels: area/apps

remove znc
  apps/znc/application.yaml
  apps/znc/backup.yaml
  apps/znc/restore.yaml
  apps/znc/secrets.yaml
  apps/znc/values.yaml
Labels: area/apps

playing with icons
  .vscode/settings.json
  infra/terraform/dns.tf
Labels: area/terraform, cluster/main

add healthcheck to thelounge
  apps/thelounge/values.yaml
Labels: area/apps

add vijunka
  apps/crunchy-postgres-cluster/postgres-cluster.yaml
  apps/vikunja/application.yaml
  apps/vikunja/secrets.yaml
  apps/vikunja/values.yaml
Labels: area/apps

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
