Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, area/terraform, cluster/main

fix prowlarr backup
  apps/prowlarr/backup.yaml
Labels: area/apps

update secrets config
  apps/code-server/backup.yaml
  apps/code-server/secrets.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/secrets.yaml
Labels: area/apps

test restore of jackett
  apps/jackett/restore.yaml
Labels: area/apps

update cert-manager
  infra/helm/cert-manager/values.yaml
Labels: area/kubernetes, cluster/main

add ingress to loki
  infra/helm/loki/ingress.yaml
  infra/helm/loki/values.yaml
Labels: area/kubernetes, cluster/main

rollback cert manager
  infra/helm/cert-manager/application.yaml
Labels: area/kubernetes, cluster/main

add r2 bucket
  infra/terraform/providers.tf
  infra/terraform/r2.tf
Labels: area/terraform, cluster/main

change bakcups from minio to r2
  apps/code-server/backup.yaml
  apps/code-server/restore.yaml
  apps/code-server/secrets.yaml
  apps/jackett/backup.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/backup.yaml
  apps/prowlarr/secrets.yaml
Labels: area/apps

remove nodejs from workflows
  .github/workflows/labeler.yaml
  .github/workflows/labels-sync.yaml
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
Labels: area/github

fix volsync secrets
  apps/code-server/secrets.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/secrets.yaml
Labels: area/apps

add restore to prowlarr
  apps/prowlarr/restore.yaml
Labels: area/apps

add restic password back
  apps/code-server/secrets.yaml
  apps/jackett/secrets.yaml
  apps/prowlarr/secrets.yaml
Labels: area/apps

add docuseal
  apps/docuseal/application.yaml
  apps/docuseal/values.yaml
Labels: area/apps

configure docuseal
  apps/docuseal/secrets.yaml
  apps/docuseal/values.yaml
Labels: area/apps

add s3 for docuseal
  apps/docuseal/secrets.yaml
Labels: area/apps

add zitadel
  apps/zitadel/application.yaml
  apps/zitadel/secrets.yaml
  apps/zitadel/values.yaml
Labels: area/apps

add pgadmin
  apps/pgadmin/application.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

configure sso to pgadmin
  apps/pgadmin/backup.yaml
  apps/pgadmin/config.yaml
  apps/pgadmin/secrets.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

increase zitadel instances
  apps/zitadel/values.yaml
Labels: area/apps

change volsync config
  apps/code-server/backup.yaml
  apps/jackett/backup.yaml
  apps/pgadmin/backup.yaml
  apps/prowlarr/backup.yaml
  infra/helm/monitoring/backup.yaml
Labels: area/kubernetes, area/apps, cluster/main

update csi s
  infra/helm/csi/application.yaml
Labels: area/kubernetes, cluster/main

testing loki
  infra/helm/loki/values.yaml
Labels: area/kubernetes, cluster/main

delete snpashots from longhorn
  infra/helm/longhorn-system/recurring_job.yaml
Labels: area/kubernetes, cluster/main

clenaup
  README.md
  apps/code-server/application.yaml
  apps/code-server/backup.yaml
  apps/code-server/deployment.yaml
  apps/code-server/ingress.yaml
  apps/code-server/secrets.yaml
  apps/code-server/service.yaml
  apps/code-server/volume.yaml
  apps/freqtrade/deployment.yaml
  apps/pgadmin/restore.yaml
  apps/zitadel/application.yaml
  apps/zitadel/secrets.yaml
  apps/zitadel/values.yaml
Labels: area/docs, area/apps

add nodejs to tofu
  .github/workflows/tofu-apply.yaml
  .github/workflows/tofu-plan.yaml
Labels: area/github

update external-dns version
  infra/helm/external-dns/application.yaml
Labels: area/kubernetes, cluster/main

increase databases disk size
  infra/helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

add adguard-home to prometheus
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

Revert "add adguard-home to prometheus"
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

test bitnami oci url
  infra/helm/external-dns/application.yaml
Labels: area/kubernetes, cluster/main

update external-dns
  infra/helm/external-dns/application.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, cluster/main

Revert "update external-dns"
  infra/helm/external-dns/application.yaml
  infra/helm/external-dns/values-adguard.yaml
  infra/helm/external-dns/values.yaml
Labels: area/kubernetes, cluster/main

Revert "test bitnami oci url"
  infra/helm/external-dns/application.yaml
Labels: area/kubernetes, cluster/main

fix version of extenal-dns
  infra/helm/external-dns/application.yaml
Labels: area/kubernetes, cluster/main

cleanup on pgadmin
  apps/pgadmin/config.yaml
  apps/pgadmin/values.yaml
Labels: area/apps

update external-dns
  infra/helm/external-dns/application.yaml
Labels: area/kubernetes, cluster/main

update prometheus
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

fix external-dns
  infra/helm/external-dns/application.yaml
Labels: area/kubernetes, cluster/main

remove docuseal
  apps/docuseal/application.yaml
  apps/docuseal/secrets.yaml
  apps/docuseal/values.yaml
Labels: area/apps

Add descheduler
  infra/helm/descheduler/application.yaml
  infra/helm/descheduler/values.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/helm/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infra/terraform/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
