Repository guilhermewolf/atoca.house, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/apps, area/docker, cluster/main

add new stacks
  stacks/media-stack/prowlarr.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/transmission-nordlynx.yaml
Labels: area/docker

add sabnzbd and prowlarr dns
  stacks/media-stack/sabnzbd.yaml
  terraform/dns.tf
Labels: area/docker

update radarr volumes
  stacks/media-stack/radarr.yaml
  stacks/media-stack/sonarr.yaml
Labels: area/docker

update folder for media stack
  stacks/media-stack/radarr.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/sonarr.yaml
  stacks/media-stack/transmission-nordlynx.yaml
Labels: area/docker

update appdata folder
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/jackett.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/prowlarr.yaml
  stacks/media-stack/radarr.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/sonarr.yaml
  stacks/minio.yaml
  stacks/netdata.yaml
Labels: area/docker

add selfheal for argocd applications
  infra/helm/grafana/application.yaml
  infra/helm/metallb-system/application.yaml
  infra/helm/monitoring/application.yaml
  infra/helm/spegel/application.yaml
  infra/helm/velero/application.yaml
  infra/kustomize-helm/kustomize-application-set.yaml
Labels: area/kubernetes, cluster/main

add ignore differences in infra helm
  infra/helm/arc-systems/application.yaml
  infra/helm/metallb-system/application.yaml
  infra/helm/metallb-system/values.yaml
  infra/helm/monitoring/application.yaml
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

update ollama
  apps/ollama/values.yaml
Labels: area/apps

remove ollama namespace
  apps/project.yaml
Labels: area/apps

reduce retention period in prometheus
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

disable zitadel
  infra/kustomize-helm/zitadel/kustomization.yaml
Labels: area/kubernetes, cluster/main

reduce number of database instances
  infra/kustomize-helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

reduce services in metallb-system
  infra/helm/metallb-system/values.yaml
Labels: area/kubernetes, cluster/main

update metallb-system
  infra/helm/metallb-system/application.yaml
  infra/helm/metallb-system/values.yaml
Labels: area/kubernetes, cluster/main

disable open-webui
  apps/project.yaml
Labels: area/apps

Introduces GPU Node
  README.md
  apps/ollama/values.yaml
  apps/open-webui/deployment.yaml
  apps/project.yaml
  docs/gpu-node.md
  docs/install.md
  infra/kustomize-helm/nvidia/kustomization.yaml
  infra/kustomize-helm/nvidia/namespace.yaml
  infra/kustomize-helm/nvidia/nvidia-device-plugin.yaml
  infra/kustomize-helm/nvidia/runtimeclass.yaml
Labels: area/docs, area/kubernetes, area/apps, cluster/main

change minio domain name
  infra/helm/velero/values.yaml
  infra/kustomize-helm/databases/cluster.yaml
  stacks/minio.yaml
  terraform/dns.tf
Labels: area/kubernetes, area/docker, cluster/main

add hass node exporter
  infra/helm/monitoring/values.yaml
Labels: area/kubernetes, cluster/main

update minio variables
  infra/helm/velero/values.yaml
  stacks/minio.yaml
Labels: area/kubernetes, area/docker, cluster/main

add ingress for ollama
  apps/ollama/values.yaml
Labels: area/apps

add wyl and flaresolver stacks
  stacks/media-stack/flaresolverr.yaml
  stacks/wyl.yaml
Labels: area/docker

Add new DNS names
  terraform/dns.tf
Labels: none

update media folders in media-stack
  stacks/media-stack/bazarr.yaml
  stacks/media-stack/jellyfin.yaml
  stacks/media-stack/radarr.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/media-stack/sonarr.yaml
  stacks/media-stack/transmission-nordlynx.yaml
Labels: area/docker

add persistent volume to ollama
  apps/ollama/values.yaml
Labels: area/apps

add pdb to longhorn
  infra/helm/longhorn-system/longhorn-pdb.yaml
Labels: area/kubernetes, cluster/main

update 1password
  docs/install.md
  infra/kustomize-helm/one-password/onepassword-token.yaml
  infra/kustomize-helm/one-password/op-credentials.yaml
Labels: area/docs, area/kubernetes, cluster/main

add image tags for docker stacks
  stacks/media-stack/flaresolverr.yaml
  stacks/media-stack/prowlarr.yaml
  stacks/media-stack/sabnzbd.yaml
  stacks/wyl.yaml
Labels: area/docker

add homarr
  apps/homarr/kustomization.yaml
  apps/homarr/namespace.yaml
  apps/homarr/values.yaml
  apps/project.yaml
Labels: area/apps

update homarrr ingress
  apps/homarr/values.yaml
Labels: area/apps

[wip] test homarr
  apps/homepage/kustomization.yaml
Labels: area/apps

add home dns
  infra/kustomize-helm/databases/cluster.yaml
  terraform/dns.tf
Labels: area/kubernetes, cluster/main

fix kured reboot command
  infra/helm/kured/values.yaml
Labels: area/kubernetes, cluster/main

update ollama
  apps/ollama/values.yaml
Labels: area/apps

update databases
  infra/kustomize-helm/databases/cluster.yaml
Labels: area/kubernetes, cluster/main

introduce rook-ceph
  infra/helm/rook-ceph-cluster/application.yaml
  infra/helm/rook-ceph-cluster/values.yaml
  infra/helm/rook-ceph-operator/application.yaml
Labels: area/kubernetes, cluster/main

remove rook
  infra/helm/rook-ceph-cluster/application.yaml
  infra/helm/rook-ceph-cluster/values.yaml
  infra/helm/rook-ceph-operator/application.yaml
Labels: area/kubernetes, cluster/main

update kured
  infra/helm/kured/values.yaml
Labels: area/kubernetes, cluster/main

update longhorn snapshot count
  infra/helm/longhorn-system/values.yaml
Labels: area/kubernetes, cluster/main

add freqtrade
  apps/freqtrade/configmap.yaml
  apps/freqtrade/deployment.yaml
  apps/freqtrade/ingress.yaml
  apps/freqtrade/kustomization.yaml
  apps/freqtrade/namespace.yaml
  apps/freqtrade/pvc.yaml
  apps/freqtrade/secrets.yaml
  apps/freqtrade/service.yaml
  apps/project.yaml
Labels: area/apps

update tls for freqtrade
  apps/freqtrade/ingress.yaml
Labels: area/apps

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "stacks/**/*"
# Clusters
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"
